    <div *ngIf="movie">
        <video 
            #player
            [src]="movieUrl" 
            controls 
            [poster]="movie.thumb_url"
            class="mb-2"
            > 
        </video>

        <div class="btn-group btn-group-toggle d-block">
            <button class="btn btn-secondary" (click)="play()">Play</button>
            <button class="btn btn-secondary" (click)="pause()">Pause</button>
            <button class="btn btn-secondary" (click)="fullscreen()">Fullscreen</button>
        </div>
    </div>